<div>
  <button ba variant="outlined" color="primary" [icon]="coffeeIcon">
    Text
  </button>
  <button ba variant="filled" color="primary">Text</button>
  <button ba variant="text" color="primary" [icon]="coffeeIcon">Text</button>

  <button ba variant="outlined" color="black">Text</button>
  <button ba variant="filled" color="black">Text</button>
  <button ba variant="text" color="black">Text</button>

  <button ba variant="outlined" color="neutral" [icon]="coffeeIcon">
    Text
  </button>
  <button ba variant="filled" color="neutral">Text</button>
  <button ba variant="text" color="neutral">Text</button>

  <section>
    @for (item of tripsService.list.list(); track item.id) {
    <div>{{ item.title }}</div>
    }
  </section>
</div>
