<p>ba-trips-list works!</p>
<div>
  <button ba variant="outlined" color="primary">Text</button>
  <button ba variant="filled" color="primary">Text</button>
  <button ba variant="text" color="primary">Text</button>

  <button ba variant="outlined" color="black">Text</button>
  <button ba variant="filled" color="black">Text</button>
  <button ba variant="text" color="black">Text</button>

  <button ba variant="outlined" color="neutral">Text</button>
  <button ba variant="filled" color="neutral">Text</button>
  <button ba variant="text" color="neutral">Text</button>

  <!-- <button class="bg-primary-500">Standard</button> -->
</div>
