<div>
  <div class="font-semibold mb-1">Ratings</div>
  <div class="flex gap-2 items-center">
    <span>{{ ratedItem().rating }}</span>

    <div class="flex gap-0.5 relative">
      @for (starNumber of maxStars(); track starNumber) {
      <fa-icon [icon]="starIcon" size="sm" class="text-neutral-300" />
      }

      <div
        class="absolute left-0 top-0 bottom-0 righ-0 overflow-hidden flex gap-0.5"
        [ngStyle]="filledStarsStyle()"
      >
        @for (starNumber of maxStars(); track starNumber) {
        <fa-icon [icon]="starIcon" size="sm" class="text-yellow-400" />
        }
      </div>
    </div>

    <span class="text-sm text-neutral-600">
      ({{ ratedItem().nrOfRatings }})
    </span>
  </div>
</div>
