<div class="flex flex-row md:flex-col gap-3 md:gap-1">
  <div class="relative aspect-square rounded-lg overflow-hidden -z-10 min-h-24">
    <img
      [ngSrc]="trip().thumbnailUrl"
      [alt]="trip().title + '_thumbnail'"
      fill
    />
  </div>

  <div class="leading-none w-full flex flex-col justify-center">
    <div class="flex justify-between gap-2">
      <span class="font-medium">{{ trip().title }}</span>

      <div class="flex gap-2 items-center">
        <ba-tooltip>
          <ba-icon-highlighter
            ngProjectAs="activator"
            [text]="trip().rating"
            [hoverColorClass]="'hover:text-yellow-400'"
          >
            <ng-template #icon let-class="iconClass">
              <fa-icon [icon]="starIcon" size="sm" [class]="class" />
            </ng-template>
          </ba-icon-highlighter>

          <div class="p-1">
            <ba-ratings-detail [ratedItem]="trip()" />
          </div>
        </ba-tooltip>

        @if (trip().tags.length) {
        <ba-tooltip>
          <ba-icon-highlighter
            ngProjectAs="activator"
            [text]="trip().tags.length"
            [hoverColorClass]="'hover:text-blue-400'"
          >
            <ng-template #icon let-class="iconClass">
              <fa-icon [icon]="tagIcon" size="sm" [class]="class" />
            </ng-template>
          </ba-icon-highlighter>

          <div class="p-1">
            <div class="font-semibold mb-3">Tags</div>

            <div class="flex gap-2">
              @for (tag of trip().tags; track tag) {
              <ba-tag-badge [tag]="tag" />
              }
            </div>
          </div>
        </ba-tooltip>
        }
      </div>
    </div>

    <div class="mb-1 text-sm text-neutral-400">
      <span>
        <fa-icon
          [icon]="verticalTypesConfig[trip().verticalType].icon"
          class="pr-1"
        />
        {{ trip().verticalType | titlecase }} -
        {{ trip().co2 | number : "1.0-0" }} kg of CO₂
      </span>
    </div>

    <div class="self-end md:self-auto">
      <span class="text-sm font-medium">
        {{ trip().price | currency : undefined : "symbol" : "1.0-0" }}
      </span>
    </div>
  </div>
</div>
