.ba-select__with-arrow {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background-image: url("https://www.svgrepo.com/show/80156/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: calc(100% - 12px);
  padding: 4px 12px;
}
