<div>
  <!-- <button ba variant="outlined" color="primary">
    <fa-icon ngProjectAs="ba-btn-icon" [icon]="coffeeIcon" />
    Text
  </button>
  <button ba variant="filled" color="primary">Text</button>
  <button ba variant="text" color="primary">
    <fa-icon ngProjectAs="ba-btn-icon" [icon]="coffeeIcon" />
    Text
  </button>

  <button ba variant="outlined" color="black">Text</button>
  <button ba variant="filled" color="black">Text</button>
  <button ba variant="text" color="black">Text</button>

  <button ba variant="outlined" color="neutral">
    <fa-icon ngProjectAs="ba-btn-icon" [icon]="coffeeIcon" />
    Text
  </button>
  <button ba variant="filled" color="neutral">Text</button>
  <button ba variant="text" color="neutral">Text</button> -->

  <section class="w-full flex flex-col items-center p-4 md:p-6">
    <h1
      class="text-2xl md:text-6xl text-center font-medium sm:w-1/2 lg:w-1/3 font-['Source_Serif_4']"
    >
      Your Next Adventure Awaits.
    </h1>

    <div class="text-md md:text-lg text-center mt-2 md:mt-4 sm:w-1/2 lg:w-1/3">
      From stunning landscapes to vibrant cultures, start your journey with just
      a click.
    </div>
  </section>

  <ba-trips-list />
</div>
