<div>
  <!-- <button ba variant="outlined" color="primary">
    <fa-icon ngProjectAs="ba-btn-icon" [icon]="coffeeIcon" />
    Text
  </button>
  <button ba variant="filled" color="primary">Text</button>
  <button ba variant="text" color="primary">
    <fa-icon ngProjectAs="ba-btn-icon" [icon]="coffeeIcon" />
    Text
  </button>

  <button ba variant="outlined" color="black">Text</button>
  <button ba variant="filled" color="black">Text</button>
  <button ba variant="text" color="black">Text</button>

  <button ba variant="outlined" color="neutral">
    <fa-icon ngProjectAs="ba-btn-icon" [icon]="coffeeIcon" />
    Text
  </button>
  <button ba variant="filled" color="neutral">Text</button>
  <button ba variant="text" color="neutral">Text</button> -->

  <ba-trips-list />
</div>
